<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Создание словаря</title>
    </head>
    <body>
        <h1>Создание словаря с помощью списка Сводеша</h1>
        <form action={{ url_for('login') }}>
            Login<br>
            <input type="text" name="login"><br>
            Password<br>
            <input type="text" name="password"><br>
            <input type="submit" value="Submit"><br>
        </form>

        <a class href={{ url_for('about') }}> about </a>
        <a href={{ url_for('form') }}> form </a>
        <a href={{ url_for('shortform') }}> shortform </a>
        <a href={{ url_for('stats') }}> stats </a>
        <a href={{ url_for('json') }}> json </a>
        <a href={{ url_for('search') }}> search </a>
    </body>
</html>